@model TravelShare.Models.Groups.GroupMessage

@{
    ViewData["Title"] = "Send";
}

<h1>Send</h1>

<div>
    <h4>GroupMessage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SenderUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenderUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessageText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessageText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SentAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SentAt)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
